<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h1 class="titleClassement">Défie tes amis !</h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><img src="../assets/anaele.png" alt="avatar Anaële" height="35" width="35" /></td>
              <td>Anaële</td>
              <td>126</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td><img src="../assets/lea.png" alt="avatar Léa" height="35" width="35" /></td>
              <td>Léa</td>
              <td>94</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td><img src="../assets/nicolas.png" alt="avatar Nicolas" height="35" width="35" /></td>
              <td>Nicolas</td>
              <td>89</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card mediaCard">
      <div class="card-body medias">
          <a href="https://www.facebook.com/"><img src="../assets/Facebook.png" class="facebook" alt="facebook" height="50" width="50" /></a>
          <a href="https://www.instagram.com/"><img src="../assets/instagram.jpeg" class="insta" alt="instagram" height="51" width="51" /></a>
          <a href="https://twitter.com/"><img src="../assets/twittercarre.png" alt="twitter" height="66" width="66"/></a>
         
      </div>
    </div>
</div>

<br/>
