<div>
  <div class="objectifs">
    <p class="titleObjectifs">Objectifs personnalisés</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua.</p>
  </div>
  <div>
    <div class="card">
      <div class="card-body">
        <p class="titleClassement">Défie tes amis !</p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><img src="../assets/anaele.png" alt="avatar Anaële" height="35" width="35" /></td>
              <td>Anaële</td>
              <td>126</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td><img src="../assets/lea.png" alt="avatar Léa" height="35" width="35" /></td>
              <td>Léa</td>
              <td>94</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td><img src="../assets/nicolas.png" alt="avatar Nicolas" height="35" width="35" /></td>
              <td>Nicolas</td>
              <td>89</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>



    <div class="card">
      <div class="card-body medias">
          <a href="https://www.facebook.com/"><img src="../assets/facebook.png" alt="avatar Anaële" height="50" width="50" /></a>
          <a href="https://www.instagram.com/"><img src="../assets/insta.png" alt="avatar Anaële" height="50" width="50" /></a>
          <a href="https://twitter.com/"><img src="../assets/twitter.png" alt="avatar Anaële" height="50" width="50" /></a>
      </div>
    </div>
  </div>
</div>
