<div class="container-fluid">
  <h1>Estimez votre consommation</h1>

  <p>Combien de temps passser par jour à:</p>

  <mat-card>
    <mat-form-field >
      <mat-select placeholder="Regarder des vidéos">
        <mat-option value="0.25">15 min</mat-option>
        <mat-option value="0.5">30 min</mat-option>
        <mat-option value="1">1 heure</mat-option>
        <mat-option value="1.5">1H30</mat-option>
        <mat-option value="2">2 heure</mat-option>
        <mat-option value="plus">Plus</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <mat-select placeholder="Sur les resaux sociaux">
        <mat-option value="0.25">15 min</mat-option>
        <mat-option value="0.5">30 min</mat-option>
        <mat-option value="1">1 heure</mat-option>
        <mat-option value="1.5">1H30</mat-option>
        <mat-option value="2">2 heure</mat-option>
        <mat-option value="plus">Plus</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <mat-select placeholder="Appels téléphoniques">
        <mat-option value="0.25">15 min</mat-option>
        <mat-option value="0.5">30 min</mat-option>
        <mat-option value="1">1 heure</mat-option>
        <mat-option value="1.5">1H30</mat-option>
        <mat-option value="2">2 heure</mat-option>
        <mat-option value="plus">Plus</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <mat-select placeholder="SMS envoyés">
        <mat-option value="2">2</mat-option>
        <mat-option value="5">5</mat-option>
        <mat-option value="10">10</mat-option>
        <mat-option value="15">15</mat-option>
        <mat-option value="2O">20</mat-option>
        <mat-option value="plus">plus de 20</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <mat-select placeholder="Applications loisirs (jeux, photos ect...)">
        <mat-option value="0.25">15 min</mat-option>
        <mat-option value="0.5">30 min</mat-option>
        <mat-option value="1">1 heure</mat-option>
        <mat-option value="1.5">1H30</mat-option>
        <mat-option value="2">2 heure</mat-option>
        <mat-option value="plus">Plus</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <mat-select placeholder="Mail">
        <mat-option value="2">2</mat-option>
        <mat-option value="5">5</mat-option>
        <mat-option value="10">10</mat-option>
        <mat-option value="15">15</mat-option>
        <mat-option value="2O">20</mat-option>
        <mat-option value="plus">plus de 20</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <mat-select placeholder="GPS">
        <mat-option value="0.25">15 min</mat-option>
        <mat-option value="0.5">30 min</mat-option>
        <mat-option value="1">1 heure</mat-option>
        <mat-option value="1.5">1H30</mat-option>
        <mat-option value="2">2 heure</mat-option>
        <mat-option value="plus">Plus</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <mat-select placeholder="Autres applications">
        <mat-option value="0.25">15 min</mat-option>
        <mat-option value="0.5">30 min</mat-option>
        <mat-option value="1">1 heure</mat-option>
        <mat-option value="1.5">1H30</mat-option>
        <mat-option value="2">2 heure</mat-option>
        <mat-option value="plus">Plus</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <button mat-raised-button class="button" routerLink="/result_conso">Valider</button>

</div>
