<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<div class="container">
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
    Votre Smartphone
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" *ngFor="let phone of phones" [class.selected]="phone === selectedPhone" (click)="onSelect(phone)"><span class="fas fa-mobile-alt"></span>{{ phone.brand }} : {{ phone.model }}</a>
    <div class="dropdown-divider"></div>
  </div>
</div>
<div *ngIf="selectedPhone">
  <div class="card mt-3 ml-5" style="width: 18rem;">
    <img class="card-img-top img-fluid" src="../../../assets/smartphone.png" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">Marque : <span class="gras">{{ selectedPhone.brand }}</span></p>
      <p class="card-title">Modèle : <span class="gras">{{ selectedPhone.model }}</span></p>
      <p class="card-title">Empreinte Energétique : <span class="gras">{{ selectedPhone.phoneNote }} (score : {{ selectedPhone.phoneScore }})</span></p>
    </div>
  </div>
</div>
</div>