<div id="card-74095">
  <div class="card">
    <a
      class="card-link collapsed"
      data-toggle="collapse"
      data-parent="#card-74095"
      href="#card-element-616950"
    >
      <div class="card-header">
        Smartphone

        <p class="float-right arrow">&#8964;</p>
      </div>
    </a>

    <div
      id="card-element-616950"
      class="collapse"
    >
      <div class="card-body">
        <div class="input-group mb-3">
          <select
            class="custom-select"
            id="selectMarque"
            (click)="getMarque()">

            <option selected="selected">Marque</option>

            <option *ngFor="let tel of phoneList">{{ tel.marque }}</option>

          </select>
        </div>

        <div class="input-group mb-3">
          <select
            class="custom-select"
            id="Modele"
            (click)="getModele()"
            [disabled]="!choixMarque"
            *ngIf=""> 

            <option selected="selected">Modele</option>

            <option value="1">TEST</option>


          </select>
        </div>

        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="button-addon2"
            outerLink="./result_conso"
          >Go.</button>
        </div>
      </div>
    </div>
  </div>
</div>
