
<mat-card class="infoCard">
  <img mat-card-image class="infoCardImg" src="../assets/socialmedia.png">
  <p class="infoText">J’utilise  l’ensemble  de  mes  réseaux sociaux pendant moins de 30 minutes par jour.</p>
</mat-card>

<mat-card class="infoCard">
<img mat-card-image class="infoCardImg" src="../assets/netflix2.png">
<p class="infoText">Netflix  génére 0,5g de CO2 pour chaque heure de programme visionnée</p>
</mat-card>

<mat-card class="infoCard">
<img mat-card-image class="infoCardImg" src="../assets/facebook2.png">
<p class="infoText">Les utilisateurs Facebook ne représente par an 263g de dioxyde de carbone, soit l’équivalent d’une tasse de thé</p>
</mat-card>

<mat-card class="infoCard">
<img mat-card-image class="infoCardImg" src="../assets/twitter2.png">
<p class="infoText">J’utilise l’ensemble de mes réseaux sociaux pendant mon de 30 minutes par jour. </p>
</mat-card>

<mat-card class="infoCard">
<img mat-card-image class="infoCardImg" src="../assets/mail2.png">
<p class="infoText">Empreinte carbone d’un mail : 19g CO2. </p>
</mat-card>

