
.infoCard {
    background-color: white;
    color: black;
    height: 90px;
    display: flex;
    flex-direction: row;
    margin: 5vh auto;
}

.infoCardImg {
    display: block;
    margin: 2vh auto;
    max-width: 60px;

}

.infoCard2 img{
    margin-left: 0px;
}

.infoText {
    margin-left: 22px;
    margin-top: -15px;
}