<div class="container-fluid">
  <h1>Relevez le défi !</h1>

  <div>
    <div class="container containerDefi">
      <div class="defiImg">
        <img src="../assets/email.png" alt="enveloppe mail" />
      </div> 
      <div class="defi">
        <p class="defiTitle">Défi travail</p>
        <p class="defiText">Pendant une semaine, je privilégie les déplacements à l’envoi de mail à mes collègues.</p>
        <a href="#" class="badge badge-dark">Je participe</a>
      </div>
    </div>
  </div>

  <br/>

  <div>
    <div class="container containerDefi">
      <div class="defiImg">
        <img src="../assets/reseaux_sociaux.png" alt="réseaux sociaux" />
      </div> 
      <div class="defi">
        <p class="defiTitle">Défi perso</p>
        <p class="defiText">J’utilise l’ensemble de mes réseaux sociaux pendant moins de 30 minutes par jour. </p>
        <a href="#" class="badge badge-dark">Je participe</a>
      </div>
    </div>
  </div>

  <br/>

  <div>
    <div class="container containerDefi">
      <div class="defiImg">
        <img src="../assets/phone_off.png" alt="téléphone éteint" />
      </div> 
      <div class="defi">
        <p class="defiTitle">Défi perso</p>
        <p class="defiText">J’éteins mon smartphone pendant au moins six heures par jour.</p>
        <a href="#" class="badge badge-dark">Je participe</a>
      </div>
    </div>
  </div>
</div>

