<div class="container-fluid">
    <p class="headline"> Save your phone, save your life. </p>

  <div class="btnContainer">
    <button mat-raised-button class="HomePageBtn first" routerLink="./">JE DOIS CHANGER MON APPAREIL</button>
    <button mat-raised-button class="HomePageBtn second" routerLink="./">J'ESTIME MA CONSOMMATION</button>
    <button mat-raised-button class="HomePageBtn third" routerLink="./challenge">JE RELEVE UN DEFI</button>
  </div>

  <div class="textIntroContainer">
    <p class="textIntro">
        Tout au long de son cycle de vie, de l’extraction 
        des matières premières, en passant par sa fabrication, son transport, son utilisation et sa fin 
        de vie, votre smartphone a un impact direct sur 
        l’environnement. 
        <a href="https://theshiftproject.org/" target="_blank">En savoir plus...</a>
    </p>

    <p class="textIntro">
      Notre site vous aidera à choisir un mobile adapté  à  vos  besoins  et  avec  une  technologie  plus  
      respectueuse   de   l’environement,   ainsi   qu’à   
      évaluer et surveiller votre consommation énergétique.
    </p>
  </div>

  <mat-card class="infoCard">
      <img mat-card-image class="infoCardImg" src="../assets/conversation.png">
      <p class="infoText">J’utilise  l’ensemble  de  mes  réseaux sociaux pendant moins de 30 minutes par jour.</p>
  </mat-card>

  <mat-card class="infoCard">
    <img mat-card-image class="infoCardImg" src="../assets/netflix.png">
    <p class="infoText">Netflix  génére 0,5g de CO2 pour chaque heure de programme visionnée</p>
  </mat-card>

  <mat-card class="infoCard">
    <img mat-card-image class="infoCardImg" src="../assets/facebook.png">
    <p class="infoText">Les utilisateurs Facebook ne représente par an 263g de dioxyde de carbone, soit l’équivalent d’une tasse de thé</p>
  </mat-card>

  <mat-card class="infoCard">
    <img mat-card-image class="infoCardImg" src="../assets/twitter.png">
    <p class="infoText">J’utilise l’ensemble de mes réseaux sociaux pendant mon de 30 minutes par jour. </p>
  </mat-card>

  <mat-card class="infoCard">
    <img mat-card-image class="infoCardImg" src="../assets/mail.png">
    <p class="infoText">Empreinte carbone d’un mail : 19g CO2. </p>
  </mat-card>

</div>