<div class="container-fluid">
    <p class="headline"> Save your phone, save your life. </p>

  <div class="btnContainer">
    <button mat-raised-button class="HomePageBtn first" routerLink="./changement">JE DOIS CHANGER MON APPAREIL</button>
    <button mat-raised-button class="HomePageBtn second" routerLink="./consommation">J'ESTIME MA CONSOMMATION</button>
    <button mat-raised-button class="HomePageBtn third" routerLink="./challenge">JE RELEVE UN DEFI</button>
  </div>

  <div class="textIntroContainer">
    <p class="textIntro">
        Tout au long de son cycle de vie, de l’extraction 
        des matières premières, en passant par sa fabrication, son transport, son utilisation et sa fin 
        de vie, votre smartphone a un impact direct sur 
        l’environnement. 
        <a href="https://theshiftproject.org/" target="_blank">En savoir plus...</a>
    </p>

    <p class="textIntro">
      Notre site vous aidera à choisir un mobile adapté  à  vos  besoins  et  avec  une  technologie  plus  
      respectueuse   de   l’environement,   ainsi   qu’à   
      évaluer et surveiller votre consommation énergétique.
    </p>
  </div>

  <div>
    <a class="nav-link tipLink" routerLink="./tips">Besoin d'astuces ?</a>
  </div>

</div>