<div class="container-fluid">
  <div class="textIntroContainer">
    <p class="textIntro">
      Aenean tellus felis, gravida eget velit eu, egestas sagittis leo. Nulla facilisi. 
      Nulla viverra dui ac ex pulvinar luctus. Aliquam id massa sit amet nisi ornare gravida vel a est. 
      Nam elementum libero ut neque aliquet, eget consectetur dolor rutrum. Sed aliquam pharetra lectus, nec placerat massa sagittis id. 
      Ut pharetra faucibus felis eu suscipit. Maecenas pellentesque velit sit amet lorem elementum dignissim. 
      Integer tincidunt orci euismod malesuada pretium. Curabitur eget pellentesque est. Duis vel dapibus libero.  
    </p>
  </div>

  <div class="btnContainer">
    <button mat-raised-button class="HomePageBtn">Click me!</button>
    <button mat-raised-button class="HomePageBtn">Click me!</button>
    <button mat-raised-button class="HomePageBtn">Click me!</button>
  </div>

</div>